/update-submodules.log
/clone-submodules.log
/update-code.log
/.ssh/
/.cache/
/.bash_history
/content-repository-content-files/*
/.psql_history
/kolibri.dmp.gz

/.lesshst

/filestorage/*

kolibri.dmp
