/update-submodules.log
/clone-submodules.log
/.ssh/
/.cache/
/.bash_history
/files/keepalive/dbtest
/files/keepalive/keepalive-config.tcl
*.orig

/www/logo.png
www/logo.png
/.psql_history
/.*
/update-code.log

