Bupdate-submodules.log
clone-submodules.log
/.ssh/
/.cache/
/.bash_history
files/keepalive/*
/files/keepalive/*
*.orig
*keepalive*
/www/logo.png
www/logo.png
/.psql_history
/.*
update-code.log
nts-dev.dmp
nts-new.dmp
update-submodules.log
update-submodules.sh
